Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.Droid/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/packages/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.iOS/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.iOS/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.Droid/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/.vs/
Auckland/Day 1/4. Base project/.vs/
Auckland/Day 2/Weather Bot/Completed project/packages/
Auckland/Day 2/Weather Bot/Completed project/Weather Bot/bin/
Auckland/Day 2/Weather Bot/Completed project/Weather Bot/obj/
Auckland/Day 2/Weather Bot/Completed project/.vs/
Auckland/Day 2/WIT Bot/Completed project/.vs/
Auckland/Day 2/WIT Bot/Completed project/packages/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/obj/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/bin/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/Properties/PublishProfiles/
