Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.Droid/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/packages/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.iOS/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.iOS/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify/obj/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/Moodify/Moodify.Droid/bin/
Auckland/Day 1/6. Integrate Camera to Solution/Moodify/.vs/
Auckland/Day 1/4. Base project/.vs/
Auckland/Day 2/Weather Bot/Completed project/packages/
Auckland/Day 2/Weather Bot/Completed project/Weather Bot/bin/
Auckland/Day 2/Weather Bot/Completed project/Weather Bot/obj/
Auckland/Day 2/Weather Bot/Completed project/.vs/
Auckland/Day 2/WIT Bot/Completed project/.vs/
Auckland/Day 2/WIT Bot/Completed project/packages/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/obj/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/bin/
Auckland/Day 2/WIT Bot/Completed project/WIT Bot/Properties/PublishProfiles/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/iOS/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/iOS/bin/
Auckland/Day 1/4. Base project/Droid/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/packages/Xamarin.Forms.2.3.2.127/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Xamarin.Forms.Platform.WinRT.Phone.xr.xml
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/packages/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/Droid/obj/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/Droid/obj/
Auckland/Day 1/4. Base project/packages/
Auckland/Day 1/4. Base project/Droid/obj/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/packages/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/Droid/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/Moodify/obj/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/Moodify/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Base Project/Droid/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/Moodify/bin/
Auckland/Day 1/4. Base project/Moodify/bin/
Auckland/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/Moodify/obj/
Auckland/Day 1/4. Base project/Moodify/obj/
Training/Day 3/3.6 Integrate Camera in Xamarin Forms/Completed/iOS/obj/
